.detail-page {
  color: black;
  display: flex;
  padding-top: 20px;
}

.sidebar {
  margin-top: 20px;
  margin-right: 100px;
  padding-left: 20px;
  display: block;
  position: relative;
  z-index: 57;
  flex: 0 0 600px;
  flex-direction: column;
  will-change: max-width,transition,position;
  backface-visibility: hidden;
  transition: transform .6s ease;
  border-left: 1px solid #ececec;
}

.sneaker-content {
  width: 100%;
  min-height: 100vh;
  min-width: 0;
  position: relative;
}

.div-main-image {
  text-align: center;
  width: 100%;
  height: 800px;
}

.main-image {
  max-width: 100%;
  max-height: 100%;
}

.container-sizes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    border-left: 1px solid var(--gl-color-grey-100);
}

.container-size {
  margin-right: 120px;
}

.button-size {
  border: 1px solid var(--gl-color-grey-100);
  margin-right: 2px;
  margin-top: 2px;
  height: 40px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  line-height: 1em;
  cursor: pointer;
  width: auto;
}

.button-size:hover {
  background-color: black;
  color: white;
}

.button-size:focus {
  background-color: black;
  color: white;
}

.img-sneakers-list {
  text-align: center;
  max-height: 500px;
  min-height: 500px;
}

.img-sneakers-list-cover {
  max-width: 100%;
  max-height: 100%;
}

.accordion-detail {
 padding: 40px 150px;
}

.detail-footer-image {
  width: 100%;
  height: 120px;
  border: 1px solid #e0e0e0;
  margin-top: 20px;
}

.detail-footer-images {
 display: flex;
 flex-wrap: nowrap;
 justify-content: center;
}

.detail-footer-images > div {
  margin: 20px;
}

.btn-detail-images {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}