.cart-page {
  min-height: 53rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-cart {
  border: 2px solid black;
  border-color: #fff;
  border-image: linear-gradient(-45deg, #3498db, #e67e22) 1;
  width: 900px;
  height: auto;
  padding: 20px;
  margin-top: 40px;
}