body {
  font: 100% / 1.414 "Open Sans", "Roboto", arial, sans-serif;
  /*background-image: url('../../../Images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;*/
  background-color: white;
}

.background-register-login {
  height: 53.5rem;
  background-image: url('../../../Images/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.signup__container {
  padding-top: 8rem;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.15);
}

.container__child {
  width: 20%;
  height: 500px;
  color: #fff;
}

.signup__thumbnail {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url('../../../Images/register.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.signup__thumbnailLogin {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url('../../../Images/zapatillas_reportaje_sneakers_585256516.jpg');
  background-size: 700px 550px;
  background-repeat: no-repeat;
  background-position: 8%;
  /*background-size: cover;*/
}

.thumbnail__logo,
.thumbnail__content,
.thumbnail__links {
  position: relative;
  z-index: 2;  
}

.thumbnail__content {align-self: baseline;}
.thumbnail__content h1,
.thumbnail__content h2 {
  font-weight: 300;
  color: rgba(255,255,255,1);
}
.signup__form {
  padding: 2.5rem;
  background: #fafafa;
}

label {
  margin-top: 5px;
  font-size: .85rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #ccc;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  margin-bottom: 15px;
}

.form-control:focus {
  border-color: #111;
}
[type="text"] {color: #111;}
[type="password"] {color: #111;}

.btn--form {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
}

.btn--form:hover {
  color: black;
  background-color: #f3ca4c;
}

.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}

.signup__link:hover {
  color: black;
}